@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
.clearfix:after{
    content: '';
    display: block;
    clear: both;
}
.bold {
    font-weight: bold;
}

.container {
    width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

@media (max-width: 1178px) {
    .container {
        width: 90%;
        min-width: 90%;
    }
}

.header {
    position: fixed;
    text-align: right;
    width: 100%;
    height: 67px;
    top: 0;
    z-index: 999;
    /*background-color: #EFEFEF;*/
    background-color: #1E1E1E;

}

.header .logo {
    position: relative;
    float: left;
    width: 60px;
    margin-top: 10px;
    margin-left: 20px;
    z-index: 99;
}

.header .nav-menu {
    color: #fff;
    position: relative;
    padding-top: 26px;
    width: 100%;
}

.header .nav-menu li {
    display: inline-block;
    margin-right: 30px;
    color: #fff;
    z-index: 9999;
    font-size: 15px;
    margin-bottom: 25px;
}

.header .nav-menu li:hover {
    color: #d66038;
}

.header .nav-menu li:hover {
    cursor: pointer;
}

.header .menu-bar {
    position: absolute;
    top: 15px;
    right: 25px;
    cursor: pointer;
    color: #fff;
    font-size: 34px;
}

@media (max-width: 768px) {

    .header .nav-menu {
        padding-top: 0px;
        top: 65px;
        z-index: 999;
        display: none;
    }

    .header .nav-menu {
        position: fixed;
    }

    .header .nav-menu li {
        display: block;
        text-align: left;
        padding: 20px;
        width: 100%;
        border-top: 1px solid #fff;
        margin-bottom: 0;
    }
}
.body .video_box{
    height: 1450px;
}
.body .main_video video {
    position: relative;
    top: 602px;
    left: 50%;
    min-width: 100%;
    width: 100%;
    z-index: 10;
    transform: translateX(-50%) translateY(-50%);
    background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
    background-size: cover;
    transition: 1s opacity;
}
.body .main_video .stopfade {
    opacity: .5;
}

.body .main_video #main_text {
    position: relative;
    top: -1000px;
    z-index: 100;
    font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
    font-weight:100;
    background: rgba(255, 255, 255, 0.3);
    color: white;
    padding: 2rem;
    width: 33%;
    margin:2rem;
    float: right;
    font-size: 1.2rem;
}

.body .main_video h1 {
    font-size: 3rem;
    text-transform: uppercase;
    margin-top: 0;
    letter-spacing: .3rem;
}
.body .main_video #main_text button {
    display: block;
    width: 80%;
    padding: .4rem;
    border: none;
    margin: 1rem auto;
    font-size: 1.3rem;
    background: rgba(255,255,255,0.23);
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    transition: .3s background;
}
.body .main_video #main_text button:hover {
    background: rgba(0,0,0,0.5);
}
.body .main_video a:hover{
    background:rgba(0,0,0,0.9);
}

.dis-none {
    display: none;
}

.footer {
    background: #000;
    color: #fff;
    padding-top: 40px;
}

.footer .left-footer {
    float: left;
}

.footer .left-footer h4 {
    font-size: 20px;
    margin-bottom: 20px;
}

.footer p {
    font-size: 12px;
    line-height: 1.9;
}

.footer .right-footer {
    float: left;
    margin-left: 150px;
}

@media (max-width: 1200px) {
    .footer .right-footer {
        margin-left: 50px;
    }
}

.footer .right-footer h3 {
    font-size: 18px;
    margin-top: 20px;
}

.footer h3 {
    text-align: center;
    margin-top: 70px;
}

.footer {
    color: #fff !important;
}

.footer img {
    width: 70px;
}

.footer .footer-first {
    font-size: 18px;
    line-height: 1.5;
    margin-top: 24px;
}

.footer-second {
    margin-top: 70px;
    font-size: 18px !important;
}

.footer-third {
    margin-top: 5px;
    font-size: 14px !important;
}

.footer-copyright {
    color: #e5e5e5;
    margin: 40px 0;
}

#map_ma {
    width: 100%;
    height: 400px;
    margin-top: 100px;
    clear: both;
}

.slide {
    height: 400px;
    margin-top: 60px;
    background: #dfc44c;
}

.slide h1 {
    text-align: center;
    color: #fff;
    padding: 50px 0;
    font-size: 30px;
}

.slide .process {
    width: 100%;
    text-align: center;
}

.slide .process div {
    outline: none;
}